/*FONT STYLE*/
@font-face {
    font-family: 'montserratblack';
    src: url('../font/montserrat-black-webfont.woff2') format('woff2'),
         url('../font/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratlight';
    src: url('../font/montserrat-light-webfont.woff2') format('woff2'),
         url('../font/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular-webfont.woff2') format('woff2'),
         url('../font/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratultra_light';
    src: url('../font/montserrat-ultralight-webfont.woff2') format('woff2'),
         url('../font/montserrat-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.mont-b {
	font-family: 'montserratblack';
}
.mont-l {
	font-family: 'montserratlight';
}
.mont-r {
	font-family: 'montserratregular';
}
.mont-u-l {
	font-family: 'montserratultra_light';
}
/*FONT STYLE*/


*,
*::after,
*::before {
	box-sizing: border-box;
}
ul { list-style: none; margin: 0;padding: 0; }
body {transition: all 2s;}

.enty-c-black {
	color: #222;
}
.menu-mobil {
	display: none;
}
.block-revealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	pointer-events: none;
	opacity: 0;
}
.loading {
	overflow: hidden;
	transition: opacity 0.8s ease-out;
}
.loading.off-bck {
	opacity: 0;
}
.loading::before {
	content: '';
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #e0d7ba;
}

.loading::after {
	content: '';
	position: fixed;
	z-index: 10000;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 50%;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    pointer-events: none;
    background-image: url(../img/loader-1E-2.gif);
    background-size: 100px;
    background-repeat: no-repeat;
    /*animation: loaderAnim 0.7s ease-out infinite alternate forwards;*/
}

@keyframes loaderAnim {
	from { 
		border-radius: 50%; transform: scale(0.7); 
	}
	to {
		transform: translate3d(0,-100px,0) scale(1.5); border-radius: 45%;
	}
}

.header {
	position: relative;
	height: calc( 100vh - 75px);
}
.header-headline {
	width: 80%;
    padding-left: 20%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40%;
    margin: 0 auto;
    font-size: 7vw;
    line-height: 7vw;
}
.header-headline-client {
	position: relative;
	margin-left: 20%;
	font-size: 105%;	
	font-weight: bold;
}
.client-arrow {
	position: absolute;
    right: 15%;
    width: 6%;
    cursor: pointer;
    opacity: 0;
}
.client-arrow.enable-true {
	opacity: 1;
}
.client-arrow-anime {
	animation: arrow-efect 1.2s infinite;
}
.attacgment-bg {
	min-height: 100%;
	background-size: cover !important;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}
.big-rombo {
	width: 45%;
    position: absolute;
    bottom: -25%;
    left: 2.1%;
}
.big-square-orange {
	opacity: 0;
}
.big-square-orange.enable-true {
	opacity: 1;
}
.big-square-orange.anime-opacity {
	animation: anime-opacity 1.5s;
}
.rec-green {
	position: absolute;
    width: 30%;
    bottom: 65%;
    left: 44%;
    opacity: 0;
}
.rec-green.enable-true {
	opacity: 1;
}
.rec-green.anime-translate {
	animation: anime-translate-diag 0.6s;
}
@keyframes anime-translate-diag {
    from { transform: translatex(100px) translatey(-100px); opacity: 0; }
    to { transform: translatex(0px) translatey(0px); opacity: 1; }
}
.square-orange {
	position: absolute;
	bottom: 74%;
    width: 30%;
    left: 5%;
    opacity: 0;
}
.square-orange.enable-true {
	opacity: 1;
}
.square-orange.anime-opacity {
	animation: anime-opacity 0.8s;
}
.curve-white {
	position: absolute;
    bottom: 45%;
    left: 15%;
    width: 45%;
    opacity: 0;
}
.curve-yellow {
	position: absolute;
	width: 45%;
	opacity: 0;
}
.curve-blue {
	position: absolute;
    bottom: 0%;
    right: -5%;
    width: 35%;
    opacity: 0;
}
.curve-white.enable-true, .curve-yellow.enable-true, .curve-blue.enable-true {
	opacity: 1;
}
.curve-white.anime-rotate, .curve-yellow.anime-rotate, .curve-blue.anime-rotate {
	animation: anime-rotate 0.6s;
}
@keyframes anime-rotate {
    from { transform: rotate(100deg); opacity: 0;}
    to { transform: rotate(0deg); opacity: 1;}
}
.img-top {
	position: absolute;
    top: 0;
    right: 15%;
    width: 30%;
}
.img-bottom {
	position: absolute;
    bottom: -10px;
    opacity: 0;
}
.img-bottom.enable-true {
	opacity: 1;
}
.img-bottom.anime-translate {
	animation: anime-translate-up 0.6s;
}
@keyframes anime-translate-up {
    from { transform: translateY(100px); opacity: 0;}
    to { transform: translateY(0px); opacity: 1;}
}
.image-full-width {
	max-width: 100%;
}
.contenido-scroll-menu { width: 100%; z-index: 999; position: relative;}
.contenido-scroll-menu.fixed { position: fixed; top: 0;}
.scroll-content-fixed {display: none;}
.scroll-content-fixed.display {display: block; height: 75px;}
.scroll-menu {
	position: absolute;
    top: -37.5px;
    left: 0;
    right: 0;
    display: flex;
    height: 75px;
    margin: 0 auto;
    justify-content: center;
	align-items: center;
}
.scroll-menu-item {
	width: 75px;
    height: 75px;
	margin-right: 10px;
}
.scroll-menu-item:hover {
	cursor: pointer;
	background-position-y: -109px !important;
}
.scroll-menu-item.active-scroll-menu {
	background-position-y: -109px !important;
}
.scroll-menu-item figure {
	padding: 0;
	margin: 0;
}
.scroll-menu-item figure img {
	max-width: 100%;
}

.scroll-contenido-item {
	height: 430px;
}
.scroll-contenido .scroll-contenido-item.red {background: red;}
.scroll-contenido .scroll-contenido-item.blue {background: blue;}
.scroll-contenido .scroll-contenido-item.yellow {background: yellow;}
.scroll-contenido .scroll-contenido-item.green {background: green;}

/*SECTIONS*/
.scroll-thumbnail {
	position: relative;
}
.scroll-rombo {
	position: absolute;
	top: calc( 50% - 175px);
	left: 10%;
	transform: rotate(45deg);
	width: 350px;
	height: 350px;
	background: #fff;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	opacity: 0;
}
.scroll-rombo.enable-true {
	opacity: 1;
}

/*effect for rombo*/
.scroll-rombo.anime-rotate-right {
	animation: anime-rotate-right 1s;
}
.scroll-rombo.anime-rotate-left {
	animation: anime-rotate-left 1s;
}
/*effect for rombo*/

.right-rombo .scroll-rombo {
	right: 10%;
	left: auto;
}
.right-rombo .scroll-description {
	right: 28%;
	left: auto;
}
.right-rombo .scroll-description .scroll-description-text {
	padding-left: 0;
	padding-right: 40%;
}
.scroll-rombo-figure {
	width: 65%;
	padding: 0;
	margin: 0 auto;
	transform: rotate(-45deg);
	opacity: 0;
}
.scroll-rombo-figure img {
	max-width: 100%;
}
.scroll-rombo-figure.enable-true {
	opacity: 1;
}
.scroll-rombo-figure.anime-opacity {
	animation: anime-opacity 0.6s;
}
.scroll-description {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 28%;
	top: 50%;
	width: 65%;
	min-height: 140px;
	background: #fff;
	opacity: 0;
}
.scroll-description.unesco { background: #766760; }
.scroll-description.techo { background: #4f9bd9; }
.scroll-description.redcross { background: #de724c; }
.scroll-description.sigma { background: #43340b; }
.scroll-description.mindcore { background: #68a675; }
.scroll-description.bocachico { background: #1a5c74; }
.scroll-description.cvi { background: #3a7e55; }
.scroll-description.palenque { background: #d67725; }
.scroll-description.hunt { background: #d9852d; }
.scroll-description.sdp { background: #3c6b4b; }
.scroll-description.toma { background: #6c0000; }
.scroll-description.cellar{ background: #28241b; }

.scroll-description.enable-true {
	opacity: 1;
	padding: 10px;
}
.scroll-description.anime-width {
	animation: anime-width 0.6s;
}

.scroll-description-text {
	margin: 0;
	font-size: 22px;
    line-height: 23px;
    opacity: 0;
    display: none;
}
.scroll-description-text.right-t {
    text-align: right;
    padding-right: 20px;
}
.scroll-description-text.left-t {
    text-align: left;
    padding-left: 20px !important;
}
.scroll-description-text.enable-true {
	padding-left: 40%;
	display: block;
	opacity: 1;
}
.scroll-description-text.anime-opacity {
	animation: anime-opacity 0.6s;
}
/*SECTIONS*/

/*animations*/

/*animations rombo*/
@keyframes anime-rotate-right {
    from { transform: rotate(45deg); opacity: 0;}
    to { transform: rotate(225deg); opacity: 1;}
}
@keyframes anime-rotate-left {
    from { transform: rotate(45deg); opacity: 0;}
    to { transform: rotate(-225deg); opacity: 1;}
}

/*animations cuadro*/

@keyframes anime-width {
    from { width: 0%; opacity: 1;}
    to { width: 58%;}
}

/*animations comun*/
@keyframes anime-opacity {
    from { opacity: 0;}
    to { opacity: 1;}
}
@keyframes arrow-efect {
    0% { top: 100%;}
    50% { top: 90%;}
    100% { top: 100%;}
}
/*animations*/